<br />
<div id="phrase">
    <br />
    <%= phrase %>
    <br />
    <% if (typeof(added) != "undefined") { %>
    <% var date = new Date(added); %>
        <span id="date">
            <a href="#added/<%= date.getTime() %>">added: <%- date.toLocaleDateString()%> @ <%- date.toLocaleTimeString() %>UTC</a>
        </span>
    <% } if (typeof(_id) != "undefined") { %>
        <span id="added-comments">
            <a href="#comments/<%= _id %>">comments: <%- comments %></a>
        </span>
    <% } %>
</div>
